@charset "UTF-8";

@font-face {
  font-family: bastarda;
  src: url('../fontes/bastarda.ttf')
}

body {
  font-family: Oswald, sans-serif;
}
div#background {
  background: url('../imagens/tumulos-blur.jpg') no-repeat;
  background-size: cover;
}
div#interface {
  width: 100%;
  height: 100%;
  margin: 0px auto 0px auto;
  border: 1px solid black;
}
div#introducao {
  border: 1px solid pink;
}
h1#titulo {
  text-align: center;
  /*font-family: bastarda;*/
  font-size: 30pt;
  text-shadow: 4px 4px 4px #463b69;
}
img#discord-invite {
  left: 90%;
  right: auto;
  border: 1px solid black;
  width: 125px;
}
footer {
  margin-top: 5px;
  border-top: 1px solid gray;
  text-align: center;
}