@charset "UTF-8";

@font-face {
  font-family: bastarda;
  src: url('../fontes/bastarda.ttf')
}

body {
  font-family: Oswald, sans-serif;
  background: url('../imagens/tumulos-blur.jpg') no-repeat;
  background-size: contain;
}
div#interface {
  width: 100%;
  height: 100%;
  margin: 0px auto 0px auto;
}
nav {
  background-color: #363062;
  overflow: hidden;
}
nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
nav a.active {
  color: #82739;
  border: 2px solid #827397
}
div#introducao {
  transition-duration: 1s;
}
h1#titulo {
  text-align: center;
  /*font-family: bastarda;*/
  font-size: 30pt;
  text-shadow: 4px 4px 4px #463b69;
}
img#discord-invite {
  right: 5%;
  left: auto;
  width: 125px;
}
section article.question {
  padding: 5px;
  background-color: rgba(0,0,0,.6);
}
footer {
  margin-top: 5px;
  border-top: 1px solid gray;
  text-align: center;
}