@charset "UTF-8";

@font-face {
  font-family: bastarda;
  src: url('../fontes/bastarda.ttf')
}
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Oswald, sans-serif;
}
div#interface {
  width: 100%;
  height: 100%;
}
header#principal {
  background: url('https://cdn.discordapp.com/attachments/704397593391661147/733414938655326379/unknown.png') no-repeat;
  background-size: cover;
  text-align: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /*background-attachment: fixed;*/
}
header {
  text-align: center;
  height: 100px;
  box-sizing: border-box;
}
img.anuncio {
  border: 1px solid gray;
  border-radius: 5px;
  width: 600px;
  margin: -15px auto;
  display: block;
  margin-bottom: 10px;
}
nav {
  background-color: #363062;
  overflow: hidden;
}
nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
nav a.ativo {
  color: #82739;
  border-bottom: 4px solid #827397
}
nav.dropdown {
  display: inline-block;
  position: relative;
}
nav.dropdown .dropdown-content {
  float: none;
}
.display-content {
  position: absolute;
  display: none;
}
div#introducao {
  transition-duration: 1s;
}
h1#titulo {
  text-align: center;
  margin-bottom: 2px;
  margin: 150px auto 2px auto;
  /*font-family: bastarda;*/
  font-size: 30pt;
  text-shadow: 4px 4px 4px #463b69;
}
p.descricao {
  margin-top: 0px;
  text-align: center;
}
section {
  margin: 0px auto;
  width: 600px;
  text-align: center;
}
section#sec-mundo {
  animation: reveal 2s;
  margin: 0px auto;
  padding: 2px;
  font-size: 14pt;
  /*background-color: rgba(0,0,0,.2);*/
  width: 700px;
  box-sizing: border-box;
  text-align: center;
}
section#sec-mundo div h1 {
  font-size: 45pt;
}
section#sec-mundo div h2 {
  font-size: 30pt;
  margin: 30px 0px 0px 0px;
}
section#sec-mundo div h3 {
  font-size: 25pt;
}
section#sec-mundo div h4 {
  font-size: 20pt;
  text-align: center;
}
section#sec-mundo div p {
  text-align: justify;
}
section#sec-mundo span {
  font-weight: 900;
}

@keyframes reveal {
  from {opacity: 0;}
  to {opacity: 1;}
}
section#corpo {
  margin-top: 100px;
}
section#corpo article.question {
  margin: 0px auto 0px auto;
  box-sizing: border-box;
  text-align: center;
  width: 500px;
  padding: 5px;
  color: black;
  /*background-color: rgba(0,0,0,.8);*/
}
section#corpo article.question ul {
  text-align: left;
}
section#aventura h1, h2{
  text-align: center;
}
div#historia h3 {
  font-size: 35px;
}
div.runa-exemplo {
  text-align: center;
}
img.runa-img {
  width: 700px;
}
aside {
  text-align: center;
  float: right;
  width: 350px;
}
footer.pagina {
  color: white;
  margin-top: 100px;
  padding: 100px;
  background-color: #181430;
  text-align: center;
}
.aviso {
  color: white;
  width: 200px;
  text-align: center;
  margin: 0px auto;
}
.aviso h3 {
  background-color: rgba(54, 48, 98,.8);
  margin-bottom: 0px;
  padding: 5px;
  /*54, 48, 98*/
}
.aviso p {
  padding: 20px;
  font-size: 18px;
  margin-top: 0px;
  background-color: rgba(54, 48, 98,.6);
}
.jogador-link {
  text-decoration: none;
  color: inherit;
}
.jogador-link:hover {
  text-decoration: underline;
  color: gray;
}
div#personagens {
  background-color: rgba(0,0,0,.6);
  display: block;
  padding: 30px 0 30px 0;
  text-align: center;
  border-radius: 300px;
  transition-duration: 0.2s;
}
div#personagens:hover {
  background-color: black;
}
.profile {
  border-radius: 50%;
  border: 1px inset rgba(128, 128, 128, .4);
  margin-right: 6px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  transition-duration: 0.4s;
}
.profile:hover {
  transform: scale(1.1);
}
.profile span {
  position: relative;
  width: 150px;
  box-sizing: border-box;
  padding-top: 120px;
  margin-bottom: 150px;
  display: block;
  opacity: 0;
  transition-duration: opacity 1s;
}
.profile span:hover {
  opacity: 1;
}
div#per-info {
  margin: 300px auto;
  width: 1300px;
  display: inline-block;
  text-indent: 15px;
  overflow: hidden;
}
#iframe-pinfo {
  width: 1300px;
  height: 6000px;
  border: none;
  overflow: hidden;
}